@page "/christmasback"

@using Thanos.Sentinel.UI.Data
@inject BlogService blogService
@using Microsoft.AspNetCore.WebUtilities
@inject NavigationManager NavManager
@inject State state

<h3>ChristmasBack</h3>

@code {

}
