<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="QueueConnectionString" value="Endpoint=sb://sentinel-celestial1.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=qUHteifnwdlXhBX+5sKhKVkZ1S/Zpe87dme/O7++9dM=" />
	</appSettings>
</configuration>